ADZUNA_APP_ID=your_app_id_here
ADZUNA_APP_KEY=your_app_key_here
NOTION_TOKEN=secret_xxxxxxxxxxxxxxxxxxxx
NOTION_DB_ID=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
TELEGRAM_BOT_TOKEN=0000000000:xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
TELEGRAM_CHAT_ID=000000000
